.banner_wrapper{
  position: relative;
  background-image: url("../../images/Customer_home.jpg");
  padding: 150px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  height: 500px;
}
.banner_overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(250, 250, 250, 0.5);

}



@keyframes showTopText {
0% { transform: translate3d(0, 100%, 0); }
40%, 60% { transform: translate3d(0, 50%, 0); }
100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
0% { transform: translate3d(0, -100%, 0); }
100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
color: rgba(46, 43, 43, 0.821);

font-weight: bold;
height: 90vmin;
left: 30%;
position: absolute;
top: 55%;
transform: translate(-50%, -50%);
width: 90vmin;
}
.animated-title > div {
height: 50%;
overflow: hidden;
position: absolute;
width: 80%;
}
.animated-title > div div {
font-size: 10vmin;
padding: 2vmin 0;
position: absolute;
}
.animated-title > div div span {
display: block;
}
.animated-title > div.text-top {
border-bottom: 4px solid rgb(0, 0, 0);
top: 0;
}
.animated-title > div.text-top div {
animation: showTopText 1s;
animation-delay: 0.5s;
animation-fill-mode: forwards;
bottom: 0;
transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
color: rgba(46, 43, 43, 0.821);
}
.animated-title > div.text-bottom {
bottom: 0;
color: #19C133;
}
.animated-title > div.text-bottom div {
animation: showBottomText 0.5s;
animation-delay: 1.75s;
animation-fill-mode: forwards;
top: 0;
transform: translate(0, -100%);
}


.Box{
  height: 100vh;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.Inner_Box{
  max-width: 80%;
  position: relative;
  display: block;
  top: 50%;
  Left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  box-shadow:15px 20px 15px 20px rgba(0,0,0,.1);
  padding: 30px;
  Letter-spacing: 2px;
}
.customerHomebtn{
  height: 55px;
  border: none;
  color: white;
  border-radius: 4px;
  transition: ease-out 0.3s;
  font-size: 2rem;
  outline: none;
  border: 3px solid #19C133;
  position: relative;
  z-index: 1;
}
.customerHomebtn:hover{
  color: #fff;
  cursor: pointer;
}
.customerHomebtn:before{
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
   left: 50%;
   right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #262c33;
}
.customerHomebtn:hover:before{
  transition: 0.5s all ease;
  left: 0;
  right: 0;
 opacity: 1;
  z-index: -1;
 }
